
h1, h2, h3 {
  color: #2b3e4e;
}

p {
  margin-bottom: 15px;
}

.nav-list > li {
  list-style:none;
  background: none !important;
  text-align: right;
}
.nav-list > li > a {
  padding: 0px;
  color: $nav-link-color;
  text-decoration: none;
  font-family: $link-font;
  font-size: 15px;
  font-weight: 300;
}
.nav-list > li > a:hover {
  background: none !important;
}
.container-fluid {
  width: 80%;
  margin: 0 auto;
}

li.pull-right {
  padding-right: 0px;
  padding-top: 13px;
  text-align: right;
  li {
    padding-right: 0px;
    padding-left: 35px;
  }
}
section#body {
  position: relative;
  padding-top: 40px;
  color: $body-font-color;
  font-size: $body-font-size;
  line-height: $body-line-height;
  li {
    line-height: $body-line-height;
  }

  p, ul, ol {
    width: 60%;
    min-width: 420px;
  }

  blockquote p {
    font-size: $body-font-size;
    //color: $nav-link-color
  }

  h1, h2, h3 {
    color: #2b3e4e;
  }

  h1 {
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 50px;
  }

  #tower-introduction h1 {
    padding-top: 20px;
    border-top: none;
  }

  #tower-intro {
    h1 {
      margin-top: 100px;
      border-bottom: none;
      margin-bottom: 0px;
      padding-bottom: 5px;
    }
    h2 {
      color: $body-font-color;
      margin-top: 0px;
      margin-bottom: 0px;
      font-weight: 300;
      line-height: 1.3;
    }
  }

  h3 {
    font-size: 20px;
  }

  .sidebar-nav {
    /*margin-top: 42px;*/
    margin-top: 82px;
  }
  .sidebar-nav-fixed {
    position: fixed;
    height: 60%;
    overflow-y: auto;
  }

  .nav-list {
    float: right;
  }

  .sidebar-nav-fixed.span2 {
    
  }

  .module-items {
    padding-left: 8%;
  }

  ul.properties,
  ul.methods {
    padding-left: 8%;  
  }

  .class-indent{
    padding-left: 11%;
  }

  div.module-content {
    padding-left: 3%;
  }

  section.property,
  section.method {
    padding: 1.5em 1.5em 2.5em 1.5em;
    border-bottom: 1px solid $fgcolor;
  }

  section.property.last-section,
  section.method.last-section {
   border-bottom: 0px;  
  }

  .module {
    margin-bottom: 3em;
  }

  .nav.nav-list {
    word-wrap: break-word;
    ul {
      margin-left: 0em;
      margin-bottom: 1.2em;
    }
  }

  @media only screen and (max-width: 785px) {
    #tower-intro {
      margin: 0 auto;
      margin-bottom: 70px;
      h1 {
      }
    }
    #tower-hero {
      margin: 0 auto;
      text-align: center;
    }
  }

  @media only screen and (max-width: 507px) {
    margin: 0 auto;
    width: 100%;
    top: 190px;
    font-size: 12px;
    padding-top: 20px;
    h1 {
      text-align: center;
      font-size: 25px;
      margin-bottom: 8px;
    }
    h2 {
      font-size: 20px;
    }
    #tower-intro {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 767px) {
    .sidebar-nav-fixed {
      width: auto;
    }
  }

  @media (max-width: 979px) {
    .well.sidebar-nav-fixed.span2 {
      position: static;
      width: 100%;
    }
    .span8.offset3.right-panel-info {
      width: 100%;
      margin-left: 0%;
    }

    .module-items {
      padding-left: 3%;
    }    

    ul.properties, 
    ul.methods {
      padding-left: 4%;    
    }
    .class-indent {
      padding-left: 3%;
    }
  }

}

.description {
  color: black;
}

.type {
  color: white;
  padding: 0.1em 0.3em;
  background-color: #3497DB;
}

.chainable {
  margin-left: 0.5em;
  padding: 0.1em 0.3em;
  background-color: #47C8AF;
  color: white;
}

.params {
  .param-name {
    font-weight: bold;
    color: black;
  }

  .param-description {
    color: black
  }
}