li {
  list-style:none;
}

section#content {
  position: relative;
  top: 70px;
  width: 100%;
  margin: 0 auto;
  @media only screen and (max-width: 785px) {
    #tower-intro {
      margin: 0 auto;
      margin-bottom: 70px;
      h1 {
      }
    }
    #tower-hero {
      margin: 0 auto;
      text-align: center;
    }
  }
  @media only screen and (max-width: 507px) {
    margin: 0 auto;
    width: 100%;
    top: 190px;
    font-size: 12px;
    border-top: 1px solid #eee;
    padding-top: 20px;
    h1 {
      text-align: center;
      font-size: 25px;
      margin-bottom: 8px;
    }
    h2 {
      font-size: 20px;
    }
    #tower-intro {
      margin-bottom: 30px;
    }
  }
}

#tower-intro {
  h1 {
    text-align: center;
  }
  h2 {
    text-align: center;
  }
}

.sidebar-nav-fixed {
  position: fixed;
  height: 60%;
  overflow-y: auto;
}

.sidebar-nav-fixed.span2 {
  width: 18%;
}

@media (max-width: 767px) {
  .sidebar-nav-fixed {
    width: auto;
  }
}

@media (max-width: 979px) {
  .well.sidebar-nav-fixed.span2 {
    position: static;
    width: 100%;
  }
  .span8.offset3.right-panel-info {
    width: 100%;
    margin-left: 0%;
  }
}

ul.module h5 {
  padding-left: 5%;
}

ul.properties {
  padding-left: 12%;
}

ul.methods {
  padding-left: 12%;
}

div.module-content {
  padding-left: 1em;
}

section.property {
  padding: 0 0 1em 1em;
  border-bottom: 1px solid $fgcolor;
}

section.method {
  padding: 0 0 1em 1em;
  border-bottom: 1px solid $fgcolor;
}

.nav.nav-list ul {
  margin-left: 0em;
}

