header {
  height: 65px;
  margin: 0 auto;
  padding-top: 40px;
  line-height: 65px;
  h1 {
    text-align: center;
  }

  ul {
    height: 65px;
    margin: 0 auto;
    list-style: none;

    @media only screen and (min-width: 700px) and (max-width: 900px) {
      width: 100%;
    }

    @media only screen and (max-width: 760px) {
      width: 100%;
    }

    li {
      list-style: none;
      display: inline-block;
      padding: 0 10px;
      margin: -3px 0px 0;
      font-weight: 300;

      a {
        color: $nav-link-color;
        text-decoration: none;
        font-family: $link-font;
        font-size: 15px;

        &:hover {
          color: #666;
          //text-decoration: underline;

        }
      }

      @media only screen and (max-width: 507px) {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0px;
        line-height: 40px;
        a {
          font-size: 21px;
        }
      }

      &.logo {
        //background: url(../img/logo-medium.png) no-repeat;
        position: relative;
        width: 50px;
        height: 55px;
        @media only screen and (max-width: 760px) {
          margin-left: 5%;
        }
        @media only screen and (max-width: 590px) {
          margin-left: 0%;
        }
        @media only screen and (max-width: 507px) {
          display: block;
          margin: 50px auto;
          text-align: center;
        }
      }
      &.first {
        @media only screen and (max-width: 1003px) {
          margin-left: 34%;
        }
        @media only screen and (max-width: 930px) {
          margin-left: 26%;
        }
        @media only screen and (max-width: 760px) {
          margin-left: 13%;
        }
        @media only screen and (max-width: 640px) {
          margin-left: 6%;
        }
        @media only screen and (max-width: 578px) {
          margin-left: 0%;
        }
      }
    }
  }
}