@import "utils";
@import "vars";
@import "header";
@import "body";

body {
  background-color: $bgcolor;
  color: $fgcolor;
  font-family: $body-font;
  min-width: $break-small;

  h1 {
    font-size: 35px;
    font-family: $header-font;
    color: $header-color;
    color: #5E656D;
  }

  h2 {
    font-size: 23px;
    color: $h2-color;
    font-family: $h2-font;
  }

  footer {}

}
