@import "utils";
@import "vars";
@import "header";
@import "body";
@import "code";

body {
  background-color: $bgcolor;
  color: $fgcolor;
  font-family: $body-font;
  min-width: $break-small;

  h1 {
    font-size: 35px;
    font-family: $header-font;
    color: $header-color;
    color: #5E656D;
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: center;
  }

  h2 {
    font-size: 23px;
    color: $h2-color;
    font-family: $h2-font;
  }

  div#sidebar {
    display: inline-block;
    float: left;
    width: 200px;
    margin-top: 25px;
    margin-left: 40px;

    ul li a {
      font-size: 16px;
    }

    ul li {
      margin: 10px 0;
    }


  }

  footer {}

  margin-bottom: 30px;
}
