@import "utils";
@import "vars";
@import "header";
@import "body";

body {
  background-color: $bgcolor;
  color: $fgcolor;
  font-family: Helvetica, Arial;
  min-width: $break-small;

  h1 {
    font-size: 35px;
    color: $header-color;
    font-family: Helvetica;
  }

  footer {}

}
