$bgcolor: #ffffff;
$fgcolor: #c5cacb;
$nav-link-color: #cbd0d3;

$header-color: #2b3e4e;
$h2-color: hsla(184, 6.1728%, 52.3529%, 1.0000);

$break-small: 320px;
$break-ssmall: 480px;
$break-medium: 650px;
$break-large: 1024px;

$body-font: Helvetica, arial, freesans, clean, sans-serif;
$body-font-color-dark: rgb(51, 51, 50);
$body-font-color-light: #7e8c8d;
$body-font-color: $body-font-color-light;
$body-font-size: 15px;
$body-line-height: 1.7;
$header-font: $body-font;
$link-font: $body-font;
$link-color: #2998d6; /*#2081b4;*/
$link-color-hover: #2998d6;
$h2-font: $header-font;