$bgcolor: #ffffff;
$fgcolor: #c5cacb;
$nav-link-color: #cbd0d3;

$header-color: #2c3e50;
$h2-color: #7f8c8d;

$break-small: 320px;
$break-ssmall: 480px;
$break-medium: 650px;
$break-large: 1024px;

$body-font: "Droid Serif";
$header-font: $body-font;
$link-font: $body-font;
$h2-font: $body-font;