$frame-width      = 960px;
$mini-frame-width = 610px;

html, body {
  background: $tan-1;
  margin: 0px !important;
  padding: 0px !important;
  width: 100%;
  min-height: 100%;
}

.frame {
  //width: 610px;
  width: $frame-width;
  height: auto;
  margin: 0 auto;
  @include clearfix;
}

#content img {
  @include shadow(1px, 1px, 2px, #D9D9D9);
  //border: 8px solid white;
  padding: 7px;
  background: white;
  border: 1px solid $tan-1;
  margin: 0 0;
  display: inline-block;
}
#content {
  a img {
    //margin-left: -5px !important; // hack
  }
}