h2 {
  line-height: 1;
  margin-top: 1px;
  //@include clearfix;
}

#subtitle {
  text-align: center;
  padding: 8px 0px 0px 0px;
  margin-top: 0px !important;
  text-transform: none;
}

body {
  overflow-y: scroll;
}

#profile {
  .frame {
    //width: $mini-frame-width;
  }
}
body {
  overflow: visible;
}
#body {
  width: 100%;
  //margin: -#{180}px 0px -#{34 + 89 + 1}px 0px;
  //margin: -#{180}px 0px -#{34 + 89 + 1}px 0px;
  min-height: 100%;
  @include clearfix;
  .frame {
    margin-bottom: 55px;
    //padding-top: 180px;
    //padding-bottom: #{34 + 89 + 1}px;
    //margin-top: 34px;
  }
  h2 {
    @include rich-border;
  }
  p {
    //font-family: 'Linux Libertine', Palatino, 'Palatino Linotype', 'Book Antiqua', Georgia, 'Times New Roman', serif;
    font-weight: normal;
  }
  ol, ul, li {
    //@include clearfix;
    width: auto;
  }
  dl {
    @include clearfix;
    dt {
      clear: both;
      float: left;
      width: 75px;
    }
    dd {
      //line-height: 1;
      float: left;
      margin-left: 5px;
    }
  }
  
  div, dl, dd, dt, h1, h2, h3, h4, table, p, a, span, thead, tbody, tfoot, tr, td, article, section, header, footer, ul, ol, li {
    //position: relative;
  }
  #content {
    //width: 720px;
    @include clearfix;
    width: 100%;
    //float: left;
    a, p, li {
      clear: none !important;
      white-space: pre-wrap; /* css-3 */
    	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    	white-space: -pre-wrap; /* Opera 4-6 */
    	white-space: -o-pre-wrap; /* Opera 7 */
    	word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
    .forks {
      //font-size: 8px;
      position: relative;
      //top: -3px;
      left: 5px;
    }
  }
  #content.networks {
    margin: 21px 0px 0px 0px;
  }
  .articles {
    margin: 21px 0px 0px 0px;
    ol, ul, li {
      list-style-type: none;
      margin: 0px 0px 0px 0px;
    }
    li.item {
      padding: 34px 0px 21px 0px;
      @include rich-border;
      .title {
        padding: 0px 0px 13px 0px;
        a, a:hover {
          @include title-font;
        }
      }
    }
    
    .footer {
      dt, dd {
        text-transform: uppercase;
        font-family: $details-font !important;
        color: rgba(56, 56, 56, .7);
        text-shadow: rgba(255, 255, 255, .8) 0 1px 0;
        float: left;
      }
      ul, ol {
        width: 800px;
        li {
          float: left;
          display: block;
          line-height: 1 !important;
          margin-right: 5px;
          margin-bottom: 5px;
          &.first-row-item {
            clear: both;
          }
          a, a:hover {
            text-decoration: none;
            //color: #EAE7DD;
            //color: $tan-1;
            font-size: 13px;
            font-style: normal;
            font-weight: normal;
            font-family: $body-font;//$subtitle-font;
          }
        }
      }
    }
  }
  
  .networks {
    list-style-type: none;
    margin: 0px 0px 0px 0px;
  }
  .network {
    @include rich-border;
    @include title-font;
    padding-top: 21px;
    font-size: 21px;
    a {
      text-decoration: none;
    }
    span {
      display: block;
    }
    .service {
      text-transform: uppercase;
      font-family: $title-font;
      color: rgba(56, 56, 56, .9);
    }
    .me {
      font-size: 13px;
    }
  }
  .facebook-network {
    background: url(/images/social-icons/facebook.png) right 21px no-repeat;
  }
  .github-network {
    background: url(/images/social-icons/github.png) right 21px no-repeat;
  }
  .linkedin-network {
    background: url(/images/social-icons/linkedIn.png) right 21px no-repeat;
  }
  .twitter-network {
    background: url(/images/social-icons/twitter.png) right 21px no-repeat;
  }
  .google-network {
    background: url(/images/social-icons/google.png) right 21px no-repeat;
  }
}

.demo {
  @include rich-border;
  padding-top: 21px;
  margin-top: 21px !important;
  margin-bottom: 13px;
  padding-bottom: 0px;
  line-height: 1;
  margin-top: 1px;
  @include clearfix;
  margin: 0 0 0 0;
  text-align: center;
  ul, ol {
    @include clearfix;
    margin: 0 0 0 0;
    text-align: center;
  }
  li {
    display: inline-block;
    *display: inline;
    list-style-type: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    .action {
      background: #c1b7a7;
      @include border-radius(3px);
      //@include shadow(1px, 1px, 3px, #9e9689);
      border: 1px solid #9e9689;
      text-shadow: #9e9689 -1px 1px 0;
      padding: 13px 0px;
      display: block;
      width: 144px;
      text-align: center;
      margin: 0 0 0 0;
      color: white;
      font-weight: normal;
      font-family: $title-font;
      text-transform: uppercase;
      font-size: 32px;
    }
  }
}

#projects-page {
  #content {
    width: $frame-width;
    .item.project {
      float: left;
      width: 300px;
      margin-left: 20px;
      &.first {
        clear: both !important;
        margin-left: 10px;
      }
      .tags {
        width: 300px;
      }
      .snapshot {
        display: block;
        margin-bottom: 13px;
        img {
          display: block;
          width: 280px;
          height: 200px;
          -moz-box-shadow: 0px 0px 3px #9e9689;
          -webkit-box-shadow: 0px 0px 5px #9e9689;
          box-shadow: 0px 0px 3px #9e9689;
          -webkit-transition: all 0.1s linear;
          -moz-transition: all 0.1s linear;
          -o-transition: all 0.1s linear;  
          transition: all 0.1s linear;
        }
        &:hover img {
          -moz-box-shadow: 0px 0px 5px #9e9689;
          -webkit-box-shadow: 0px 0px 7px #9e9689;
          box-shadow: 0px 0px 5px #9e9689;
        }
      }
    }
  }
}
#disqus_thread {
  clear: both;
}

.gallery {
  margin-left: 0px !important;
  @include clearfix;
  li {
    list-style-type: none;
    width: 176px !important;
    max-height: 176px;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin-right: 20px;
    &:last-child {
      margin-right: 0px;
    }
    img {
      
    }
  }
}

