#navigation {
  height: 55px;//34px;
  //background: $black-1;
  @include clearfix;
  z-index: 10;
  position: relative;
  .frame {
    padding: 0px;
    position: relative;
  }
  
  a, a:hover, span {
    text-decoration: none;
    //color: #EAE7DD;
    //color: $tan-1;
    color: $red-1;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    font-family: $body-font;//$subtitle-font;
  }
  #logo {
    margin: 8px 0px 6px 0px;
    float: left;
    display: block;
    line-height: 1.5em;
    position: relative;
    a {
      display: block;
      float: left;
      color: $tan-1;
      font-family: $title-font;
      //font-size: 21px;
      font-size: 24px;
      //margin-top: 2px;
      margin-top: 12px;
    }
    .gravatar {
      margin-right: 10px;
      border: 2px solid $tan-1;
      display: block;
      float: left;
      -moz-box-shadow: none; 
      -webkit-box-shadow: none;
      box-shadow: none;
      width: 35px;
      height: 35px;
    }
  }
  ul {
    position: relative;
    list-style: none;
    @include clearfix;
    text-align: right;
    margin: 0px;
    padding: 0px;
    float: right;
    li {
      float: left;
      display: block;
      margin: 8px 0px 6px 20px;
      font-size: 21px;
    }
  }
}

#header {
  //margin-top: -34px;
  //padding-top: #{34 + 55}px;
  margin-top: 55px;
  .frame {
    //@include rich-border;
    position: relative;
    padding: 34px 0px 0px 0px;
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-top: 0px;
  }
  time {
    display: block;
    padding-top: 5px;
  }
  a {
    color: rgba(56, 56, 56, .9);
    text-decoration: none;
  }
  cite {
    display: block;
    padding: 5px 0px;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  address {
    font-style: normal;
  }
  mark, mark span {
    display: block;
    padding: 5px 0px;
    font-size: 10px;
    font-family: $body-font;
    background: inherit;
    text-shadow: none;
    font-style: normal;
    text-transform: none;
    color: $grey-2;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  position: relative;
  .flash-error {
    background: rgba(223,64,53,.3);
    padding: 13px 21px;
    border: 1px solid $red-1;
    font-size: 13px;
    text-align: center;
    position: absolute;
    left: 89px;
    right: 89px;
    top: -13px;
  }
}

#table-of-contents {
  margin-top: 21px;
  //padding-left: 13px;
  //margin-left: 21px;
  //margin-bottom: 21px;
  //padding-bottom: 21px;
  //float: right;
  //border-left: 1px solid #c5bdad;
  //@include shadow(-1px, 0px, 0px, #f9f8f6);
  @include rich-border;
  //border-bottom: 1px solid #c5bdad;
  //@include shadow(0px, 1px, 0px, #f9f8f6);
  position: relative;
  //display: none;
  a {
    position: relative;
    color: rgba(164,66,61,1);
    text-decoration: none;
  }

  a:hover {
    color: rgba(164,66,61,.7);
  }

  li, a {
    //margin-top: 0px;
    font-size: 12px;
  }
  .chapters {
    margin-top: 21px;
    //width: #{233 - 21}px;
    margin-bottom: 0px;
    ul, ol {
      //margin: 0px 0px 5px 26px;
      ul, ol {
        //margin: 5px 0px 5px 26px;
        ul, ol {
          //margin: 5px 0px 5px 26px;
        }
      }
    }
  }
}