$h1-size = 32px;
$h2-size = 30px;
$title-font = 'a', Adobe Garamond Pro, Times New Romans, serif;
$details-font = 'b', Adobe Garamond Pro, Times New Romans, serif;
$subtitle-font = 'a', Adobe Garamond Pro, Times New Romans, serif;
$body-font = Lucida Grande, Helvetica, sans-serif;
$body-font-size = 14px;
$sub-body-font-size = 14px;
$paragraph-margin = 21px;
$list-item-margin = 13px;

html, body {
  background: $tan-1;
  text-align: left;
  font-family: $body-font;
  font-size: 0.8em;
  line-height: 0.75;
  overflow-x: hidden;
}

html, body {
  // TradeG
  font-family: $body-font;
  color: $grey-2;
}

/*
::selection {
	background: rgba(223,64,53,.3);
}
::-moz-selection {
	background: rgba(223,64,53,.3);
}
*/

h1, h2, h3, h4 {
  font-weight: normal; 
  font-style: normal;
  //line-height: normal;
  line-height: 1; //0.75;
  font-family: $title-font;
  text-transform: uppercase;
}

h1 {
  text-align: center;
  letter-spacing: .04em;
  font-size: 55px;
  color: #383838;
  text-shadow: rgba(255, 255, 255, .8) 0 1px 0;
}
h2 {
  text-shadow: rgba(255, 255, 255, .8) 0 1px 0;
}

h2, h3 {
  @include title-font;
  code {
    font-size: 21px;
  }
}

h2 {
  padding-top: 21px;
  margin-top: 21px !important;
  margin-bottom: 13px;
  padding-bottom: 0px;
  code {
    text-transform: none;
    font-size: 28px;
  }
}

h3 {
  margin: 21px 0px 13px 0px;
  padding: 0px 0px 0px 0px;
  font-family: $subtitle-font;
  text-transform: uppercase;
  font-size: 24px;
  code {
    text-transform: none;
  }
}

.item h3 {
  padding: 21px 0px 13px 0px;
  margin: 0px 0px 0px 0px;
}

h4 {
  font-family: $subtitle-font;
  font-size: 18px;
  text-transform: uppercase;
  //line-height: 30px;
  color: rgba(56, 56, 56, .9);
  text-align: left;
  margin: 21px 0px 10px 0px;
  code {
    font-size: 16px;
    text-transform: none;
  }
}

.h2old {
  text-align: left;
  letter-spacing: .05em;
  font-size: 34px;
  color: rgba(56, 56, 56, .9);
  padding: 15px 0px 10px 0px;
}

p, p *, ul *, ol *, li *, a, span {  
  white-space: normal !important;
}

.articles li, .articles a {
  white-space: normal !important;
}

p, li {
  font-weight: normal; 
  font-style: normal;
  line-height:normal; 
  font-family: $body-font;
  //font-family: 'b', Helvetica, Arial, sans-serif;
  text-transform: none;
  //font-size: 18px;
  //color: rgba(56,56,56,.7);
  color: rgba(10,10,10,.7);
  line-height: 1.5em;
  //text-shadow: rgba(255,255,255,.8) 0 1px 0;
  text-align: left;
  margin: 0 0 13px 0;
}
p {
  font-size: $body-font-size;
  margin-bottom: $paragraph-margin;
}
li {
  font-size: $sub-body-font-size;
}

img {
  display: block;
  margin: 0 auto;
  position: relative;
}

a {
  position: relative;
  color: rgba(164,66,61,1);
  text-decoration: none;
}

a:hover {
  color: rgba(164,66,61,.7);
}

ul, ol {
  line-height: 1.2em;
  font-family: $body-font;
  margin: 0px 0px 0px 26px;
  li {
    font-family: $body-font;
    margin: 6px 0px 0px 0px;
  }
}
ul {
  list-style-type: disc;
}
ol {
  //list-style-type: upper-roman;//decimal;
  list-style-type: decimal;
}
ul, ol {
  ul {
    list-style-type: circle;
    //ul {
    //  list-style-type: square;
    //  ul {
    //    list-style-type: circle;
    //    ul {
    //      list-style-type: square;
    //    }
    //  }
    //}
  }
}

ol ol {
  list-style-type: lower-roman;
}

#content > ul, #content > ol {
  margin-top: $list-item-margin;
  margin-bottom: 21px;
}
#table-of-contents > ol {
  margin-top: $list-item-margin;
  margin-bottom: $list-item-margin;
}

cite {
  font-style: normal;
}

abbr {
  text-decoration: none;
  border-bottom: none !important;
  cursor: inherit !important;
}

blockquote {
  border-left: 4px solid #f9f8f6;
  p {
    @include shadow(-2px, 0px, 0px, #c5bdad);
    padding-left: 13px;
  }
}

/*
blockquote p:before {
	content: '"'; 
}
blockquote p:after {
	content: '"'; 
}
*/