<h1>Guides</h1>
<hr />
<div id="sidebar">
  <nav>
    <ul>
      <li>
        <a href="#">Introduction</a>
        <ul>
          <li>
            <a href="#">Modules</a>
          </li>
          <li>
            <a href="#">Routes</a>
          </li>
          <li>
            <a href="#">Templates</a>
          </li>
          <li>
            <a href="#">Directives</a>
          </li>
          <li>
            <a href="#">Content</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Server vs Client</a>
      </li>
    </ul>
  </nav>
</div>
<div id="ct">
  <%- code %>
</div>