<!DOCTYPE html>
<html>
  <head>
    <title>Tower.js - Small components for building hardcore apps.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400'>
    <link rel="stylesheet" href="public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="public/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="public/css/index.css" />
  </head>
  <body data-scope="body">
    <div id="wrapper">
      <header class="container-fluid">
        <div class="row-fluid">
          <ul class="span12">
            <li class="logo">
              <a href="./" title="">
                <img src="public/img/logo.png" alt="Tower"/>
              </a>
            </li>
            <li class="pull-right">
              <ul>
                <li>
                  <a href="guide" title="Guide">Guide</a>
                </li>
                <li>
                  <a href="https://github.com/tower/tower" title="GitHub Repos">GitHub</a>
                </li>
                <!--<li>
                  <a href="/api" title="API Docs">API</a>
                </li>-->
              </ul>
            </li>
          </ul>
      </div>
      </header>
      <section id="body" data-content class="container-fluid">
        
      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>