<!DOCTYPE html>
<html>
  <head>
    <title>Tower - A Component for Distributed Applications</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif" />
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/public/css/index.css" />

    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>

    <% if (typeof url !== 'undefined') { %>  
      <%- partial('header', {url: url}) %>  
    <% } %>      
   
    <!--[if lt IE 9]>
      <script type="text/javascript" src="public/js/html5.js"></script>
    <![endif]-->

    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </head>
  <body data-scope="body">
    <div id="wrapper">
      <header>
        <ul>
          <li class="logo">
            <a href="/" title="">
              <img src="/public/img/logo.png" alt="Tower"/>
            </a>
          </li>
          <li class="first">
            <a href="https://github.com/tower" title="GitHub Repos">Source</a>
          </li>
          <li>
            <a href="/guides" title="Guides">Guides</a>
          </li>
          <li>
            <a href="/api" title="API Docs">API</a>
          </li>
          <!--<li>
            <a href="/examples" title="Examples">Examples</a>
          </li>
          <li>
            <a href="/community" title="">Community</a>
          </li>
          <li>
            <a href="/screencasts" title="">Screencasts</a>
          </li>-->
        </ul>
      </header>
      <section id="body" data-content>
        
      </section>
      <footer>
      </footer>
    </div>
  </body>
</html>