/**
 * Animate Media Queries

body, div, ul, li {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}*/
/**
 * Useful Mixin for quick media queries
 */
header {
  height: 65px;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  line-height: 65px; }
  header ul {
    width: 90%;
    height: 65px;
    margin: 0 auto;
    list-style: none; }
    @media only screen and (min-width: 700px) and (max-width: 900px) {
      header ul {
        width: 100%; } }
    @media only screen and (max-width: 760px) {
      header ul {
        width: 100%; } }
    header ul li {
      list-style: none;
      display: inline-block;
      padding: 0 10px;
      margin: -3px 15px 0; }
      header ul li a {
        color: #cbd0d3;
        text-decoration: none;
        font-weight: bold;
        font-family: "Droid Sans";
        font-size: 17px; }
        header ul li a:hover {
          color: #666; }
      @media only screen and (max-width: 507px) {
        header ul li {
          display: block;
          text-align: center;
          margin: 0 auto;
          padding: 0px;
          line-height: 40px; }
          header ul li a {
            font-size: 21px; } }
      header ul li.logo {
        position: relative;
        width: 50px;
        height: 55px;
        margin-left: 10%; }
        @media only screen and (max-width: 760px) {
          header ul li.logo {
            margin-left: 5%; } }
        @media only screen and (max-width: 590px) {
          header ul li.logo {
            margin-left: 0%; } }
        @media only screen and (max-width: 507px) {
          header ul li.logo {
            display: block;
            margin: 50px auto;
            text-align: center; } }
      header ul li.first {
        margin-left: 38%; }
        @media only screen and (max-width: 1003px) {
          header ul li.first {
            margin-left: 34%; } }
        @media only screen and (max-width: 930px) {
          header ul li.first {
            margin-left: 26%; } }
        @media only screen and (max-width: 760px) {
          header ul li.first {
            margin-left: 13%; } }
        @media only screen and (max-width: 640px) {
          header ul li.first {
            margin-left: 6%; } }
        @media only screen and (max-width: 578px) {
          header ul li.first {
            margin-left: 0%; } }

li {
  list-style: none; }

li {
  list-style: none; }

section#body {
  position: relative;
  top: 70px;
  width: 80%;
  margin: 0 auto; }
  @media only screen and (max-width: 785px) {
    section#body #tower-intro {
      margin: 0 auto;
      margin-bottom: 70px; }
    section#body #tower-hero {
      margin: 0 auto;
      text-align: center; } }
  @media only screen and (max-width: 507px) {
    section#body {
      margin: 0 auto;
      width: 100%;
      top: 190px;
      font-size: 12px;
      border-top: 1px solid #eee;
      padding-top: 20px; }
      section#body h1 {
        text-align: center;
        font-size: 25px;
        margin-bottom: 8px; }
      section#body h2 {
        font-size: 20px; }
      section#body #tower-intro {
        margin-bottom: 30px; } }

#tower-intro h1 {
  text-align: center; }
#tower-intro h2 {
  text-align: center; }

.sidebar-nav-fixed {
  position: fixed;
  height: 60%;
  overflow-y: auto; }

.sidebar-nav-fixed.span2 {
  width: 18%; }

@media (max-width: 767px) {
  .sidebar-nav-fixed {
    width: auto; } }
@media (max-width: 979px) {
  .well.sidebar-nav-fixed.span2 {
    position: static;
    width: 100%; }

  .span8.offset3.right-panel-info {
    width: 100%;
    margin-left: 0%; } }
ul.module h5 {
  padding-left: 5%; }

ul.properties {
  padding-left: 12%; }

ul.methods {
  padding-left: 12%; }

div.module-content {
  padding-left: 1em; }

section.property {
  padding: 0 0 1em 1em;
  border-bottom: 1px solid #c5cacb; }

section.method {
  padding: 0 0 1em 1em;
  border-bottom: 1px solid #c5cacb; }

.nav.nav-list ul {
  margin-left: 0em; }

body {
  background-color: white;
  color: #c5cacb;
  font-family: "Droid Sans";
  min-width: 320px; }
  body h1 {
    font-size: 35px;
    font-family: "Droid Serif";
    color: #2c3e50;
    color: #5E656D;
    text-align: center; }
  body h2 {
    font-size: 23px;
    color: #7f8c8d;
    font-family: "Droid Serif"; }
