/**
 * Animate Media Queries

body, div, ul, li {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}*/
/**
 * Useful Mixin for quick media queries
 */
/*#2081b4;*/
header {
  height: 65px;
  margin: 0 auto;
  padding-top: 40px;
  line-height: 65px; }
  header h1 {
    text-align: center; }
  header ul {
    height: 65px;
    margin: 0 auto;
    list-style: none; }
    @media only screen and (min-width: 700px) and (max-width: 900px) {
      header ul {
        width: 100%; } }
    @media only screen and (max-width: 760px) {
      header ul {
        width: 100%; } }
    header ul li {
      list-style: none;
      display: inline-block;
      padding: 0 10px;
      margin: -3px 0px 0;
      font-weight: 300; }
      header ul li a {
        color: #cbd0d3;
        text-decoration: none;
        font-family: "Lato", Helvetica, arial, freesans, clean, sans-serif;
        font-size: 15px; }
        header ul li a:hover {
          color: #666; }
      @media only screen and (max-width: 507px) {
        header ul li {
          display: block;
          text-align: center;
          margin: 0 auto;
          padding: 0px;
          line-height: 40px; }
          header ul li a {
            font-size: 21px; } }
      header ul li.logo {
        position: relative;
        width: 50px;
        height: 55px; }
        @media only screen and (max-width: 760px) {
          header ul li.logo {
            margin-left: 5%; } }
        @media only screen and (max-width: 590px) {
          header ul li.logo {
            margin-left: 0%; } }
        @media only screen and (max-width: 507px) {
          header ul li.logo {
            display: block;
            margin: 50px auto;
            text-align: center; } }
      @media only screen and (max-width: 1003px) {
        header ul li.first {
          margin-left: 34%; } }
      @media only screen and (max-width: 930px) {
        header ul li.first {
          margin-left: 26%; } }
      @media only screen and (max-width: 760px) {
        header ul li.first {
          margin-left: 13%; } }
      @media only screen and (max-width: 640px) {
        header ul li.first {
          margin-left: 6%; } }
      @media only screen and (max-width: 578px) {
        header ul li.first {
          margin-left: 0%; } }

h1, h2, h3 {
  color: #2b3e4e; }

p {
  margin-bottom: 15px; }

.nav-list > li {
  list-style: none;
  background: none !important;
  text-align: right; }

.nav-list > li > a {
  padding: 0px;
  color: #cbd0d3;
  text-decoration: none;
  font-family: "Lato", Helvetica, arial, freesans, clean, sans-serif;
  font-size: 15px;
  font-weight: 300; }

.nav-list > li > a:hover {
  background: none !important; }

.container-fluid {
  width: 80%;
  margin: 0 auto; }

li.pull-right {
  padding-right: 0px;
  padding-top: 13px;
  text-align: right; }
  li.pull-right li {
    padding-right: 0px;
    padding-left: 35px; }

section#body {
  position: relative;
  padding-top: 40px;
  color: #919e9f;
  font-size: 16px;
  line-height: 1.7; }
  section#body li {
    line-height: 1.7; }
  section#body p, section#body ul, section#body ol {
    width: 60%;
    min-width: 420px; }
  section#body blockquote p {
    font-size: 16px; }
  section#body h1, section#body h2, section#body h3 {
    color: #2b3e4e; }
  section#body h1 {
    border-top: 1px solid #eee;
    padding-top: 30px;
    margin-top: 50px; }
  section#body #tower-introduction h1 {
    padding-top: 20px;
    border-top: none; }
  section#body #tower-intro h1 {
    margin-top: 100px;
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 5px; }
  section#body #tower-intro h2 {
    color: #919e9f;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
    line-height: 1.3; }
  section#body h3 {
    font-size: 20px; }
  section#body .sidebar-nav {
    /*margin-top: 42px;*/
    margin-top: 82px; }
  section#body .sidebar-nav-fixed {
    position: fixed;
    max-height: 700px;
    overflow-y: scroll; }
    section#body .sidebar-nav-fixed ul {
      list-style: none; }
    section#body .sidebar-nav-fixed li a {
      color: #cbd0d3;
      text-decoration: none; }
      section#body .sidebar-nav-fixed li a:hover, section#body .sidebar-nav-fixed li a:focus {
        color: #2998d6; }
      section#body .sidebar-nav-fixed li a.active {
        color: #2998d6; }
  section#body div.module-content {
    padding-left: 3%; }
  section#body section.property,
  section#body section.method {
    padding: 1.5em 1.5em 2.5em 1.5em;
    border-bottom: 1px solid #c5cacb; }
  section#body section.property.last-section,
  section#body section.method.last-section {
    border-bottom: 0px; }
  section#body .nav.nav-list {
    word-wrap: break-word; }
    section#body .nav.nav-list ul {
      margin-left: 0em;
      margin-bottom: 1.2em; }
  @media only screen and (max-width: 785px) {
    section#body #tower-intro {
      margin: 0 auto;
      margin-bottom: 70px; }
    section#body #tower-hero {
      margin: 0 auto;
      text-align: center; } }
  @media only screen and (max-width: 507px) {
    section#body {
      margin: 0 auto;
      width: 100%;
      top: 190px;
      font-size: 12px;
      padding-top: 20px; }
      section#body h1 {
        text-align: center;
        font-size: 25px;
        margin-bottom: 8px; }
      section#body h2 {
        font-size: 20px; }
      section#body #tower-intro {
        margin-bottom: 30px; } }
  @media (max-width: 767px) {
    section#body .sidebar-nav-fixed {
      width: auto; } }
  @media (max-width: 979px) {
    section#body .well.sidebar-nav-fixed.span2 {
      position: static;
      width: 100%; }
    section#body .span8.offset3.right-panel-info {
      width: 100%;
      margin-left: 0%; }
    section#body .module-items {
      padding-left: 3%; }
    section#body ul.properties,
    section#body ul.methods {
      padding-left: 4%; }
    section#body .class-indent {
      padding-left: 3%; } }

.description {
  color: black; }

.type {
  color: white;
  padding: 0.1em 0.3em;
  background-color: #3497DB; }

.chainable {
  margin-left: 0.5em;
  padding: 0.1em 0.3em;
  background-color: #47C8AF;
  color: white; }

.params .param-name {
  font-weight: bold;
  color: black; }
.params .param-description {
  color: black; }

code {
  font-family: "Menlo", monospace;
  color: inherit;
  margin-left: 5px;
  margin-right: 5px; }

pre code {
  font-size: 16px;
  line-height: normal;
  display: block;
  margin-left: 0px;
  margin-right: 0px; }

pre {
  border: none;
  border-radius: 0;
  display: block;
  background: none;
  border: 1px solid #eeeeee;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 15px; }

pre code {
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
  font-size: 13px;
  line-height: 19px;
  overflow-x: scroll; }

#ct {
  display: inline-block;
  color: #333;
  width: 70%; }
  #ct p {
    font-size: 19px;
    line-height: 2;
    margin: 40px 0; }
  #ct h2 {
    display: block;
    margin-top: 30px;
    line-height: 10px; }

.html .value,
.javascript .string,
.javascript .regexp {
  color: #e6550d; }

.html .tag,
.css .tag,
.javascript .keyword {
  color: #419edd; }

aside,
.comment {
  color: #636363; }

.html .doctype,
.javascript .number {
  color: #28bfa2; }

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #28bfa2; }

.js .keyword, .javascript .keyword {
  color: #419edd; }

.js .string, .javascript .string {
  color: #28bfa2; }

/* NEW HIGHLIGHTING */
.keyword {
  color: #56b3a6; }

/* Keyword */
.nt {
  color: #56b3a6;
  font-weight: bold; }

/* Tag name */
.o {
  color: #56b3a6;
  font-weight: bold; }

/* Operator */
.s {
  color: #e84c52; }

/* Attribute value */
.string {
  color: #e84c52; }

/* String */
.s2 {
  color: #e84c52; }

/* String */
.na {
  color: #e58a8e; }

/* Attribute */
.ni {
  color: #e59e4b; }

/* Entity */
.mi {
  color: #e59e4b; }

/* Integer */
.mf {
  color: #e59e4b; }

/* Float */
.c {
  color: #b6ae99;
  font-style: italic; }

/* Comment */
.c1 {
  color: #b6ae99;
  font-style: italic; }

/* Comment */
.p {
  color: #dfdbce; }

/* Punctation */
td.gutter {
  width: 40px;
  display: inline-block;
  display: none; }

td.code {
  width: 80%; }

.lang-html .attribute {
  color: #56b3a6; }
.lang-html .value {
  color: #e84c52; }

body {
  background-color: white;
  color: #c5cacb;
  font-family: "Lato", Helvetica, arial, freesans, clean, sans-serif;
  font-weight: 400;
  min-width: 320px;
  margin-bottom: 30px; }
  body hr {
    margin-top: 0px; }
  body a {
    color: #2998d6; }
    body a:hover {
      color: #2998d6; }
  body h1 {
    font-size: 35px;
    font-family: "Lato", Helvetica, arial, freesans, clean, sans-serif;
    color: #2b3e4e;
    color: #5E656D;
    margin-bottom: 30px;
    margin-top: 0px; }
  body h2 {
    font-size: 23px;
    color: #7e8c8d;
    font-family: "Lato", Helvetica, arial, freesans, clean, sans-serif; }
