.nav-group-start a {
  border-left: 1px solid #fff !important;
}
.navbar-inner {
  background: #32747f url("/images/noise.png") !important;
}
.navbar-inner a {
  color: #eaecea !important;
  text-shadow: none !important;
}
body {
  position: relative;
  background: #fff url("/images/noise.png") !important;
}
body .header ul,
body .header li,
body .section li,
body .header p,
body .header ol,
body .section p,
body .section ul,
body .section ol,
body .section cite {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 26px;
  color: #32373a;
}
body .header ul a,
body .header li a,
body .section li a,
body .header p a,
body .header ol a,
body .section p a,
body .section ul a,
body .section ol a,
body .section cite a {
  color: #32747f;
}
a.brand {
  margin-left: 0 !important;
  padding-right: 20px !important;
  float: left !important;
}
.dropdown-menu a {
  color: #32373a !important;
}
pre {
  background: #f7f7f9 url("/images/noise.png") !important;
  border-color: #e1e1e8;
  border-radius: 0px;
}
pre code,
code {
  font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Courier, monospace;
  font-size: 14px;
}
pre,
p {
  margin-bottom: 18px;
  margin-top: 18px;
}
code {
  color: #639566;
  background: none;
  border: none;
  padding: 0 0 0 0;
}
pre code {
  color: #48484c;
  line-height: 22px;
}
pre {
  overflow-x: auto !important;
  white-space: pre;
}
h1,
h2,
h3,
h4 {
  line-height: 1.2;
  background: transparent;
  margin-bottom: 15px;
  padding-bottom: 0px;
  margin-top: 30px;
  padding-bottom: 5px;
  margin: $baseLineHeight 0;
}
.section h1 {
  border-top: 5px solid #e6e6e6;
  padding-top: 15px;
  margin-top: 0;
}
.section h1,
.section h2 {
  border-bottom: 1px solid $grayLighter;
}
h1 code {
  font-weight: normal;
  font-size: 24px;
}
h2 code {
  font-weight: normal;
  font-size: 18px;
}
h3 code {
  font-weight: normal;
  font-size: 16px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
#footer {
  background: #8ba341 url("/images/noise.png");
  color: #eaecea;
}
#footer a {
  color: #ec3d2f;
}
/*
a
  color: #EC3D2F

#navigation
  display: block
  position: relative;
  margin: 0 auto
  width: auto
  max-width: 850px
  .header
    display: none
  li
    margin: 0 0 0 21px !important
  a
    color: white
#header
  display: block
  position: relative;
  margin: 0 auto
  width: auto
  max-width: 810px
  padding: 60px 20px 20px 20px
  h1
    text-align: left
  h1, h2, h3, h4
    color: white
  .forkme
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0
    opacity: 0.9
    img
      width: 149px;
      height: 149px
#footer  
  min-height: 100px
  background: $green url(/images/noise.png);
  position: relative;
  bottom: 0px;
#body
  position: relative;
  h1
    background: $red;
    padding-top: 10px
    margin-bottom: 10px
    margin-top: 0px
    margin-left: -40px
    margin-right: -40px
    color: white
    font-size: 40px
  #background
    position: absolute
    opacity: 90
    top: 0px
    right: 0px
    bottom: 0px
    left: 0px
  //background: #222;
  //background: $white url(/images/noise.png);
  color: #111
  margin: 0 auto;
  width: auto
  max-width: 920px
  clearfix()
  #content
    padding: 20px
    background: white
    position: relative
    float: left
    width: 610px
    margin-left: 20px
    z-index: 1
  
  #sidebar
    width: 920px
    left: 50%
    margin-left: -460px
    display: block
    z-index: 0
    position: fixed
    right: 0
    > ul
      list-style-type: none
      width: 270px
      float: right
      margin: 0px 0px 0px 0px
      ul
        display: none
    li
      background: $red
      opacity: 90
      color: white
      padding: 2px 8px 2px 40px
      margin: 0px 0px 0px 0px
      a, a:hover
        color: white
    
@media screen and (max-width: 810px)
  .forkme
    display: none
*/
@media screen and (max-width: 480px) {
  body .header ul,
  body .header li,
  body .section li,
  body .header p,
  body .header ol,
  body .section p,
  body .section ul,
  body .section ol,
  body .section cite {
    font-size: 13px;
    line-height: auto;
  }
  pre code {
    font-size: 10px;
    line-height: auto;
  }
  content {
    margin-left: 0px;
  }
}
