
.nav-group-start a
  border-left: 1px solid white !important

$green  = hsl(186, 46%, 64%)//#8BA341
$blue   = hsl(0, 0%, 97%)//hsl(186, 46%, 64%) //#79C5CE //#92CBD3
$bright-blue = hsl(186, 46%, 64%)
$white  = #eaecea
$red    = hsl(4, 68%, 58%)
$font-color = hsl(0, 0%, 30%)//hsl(186, 46%, 20%)//#32373a
$grey   = hsl(0, 0%, 60%)
$code-color = hsl(240, 3%, 36%)
$pre-color = hsl(0, 0%, 94%)//hsl(0, 0%, 90%)
$header-font = 'Varela', sans-serif;

.navbar-inner
  //display: none
  font-family: 'Forum', cursive;
  background: $grey !important// url(/images/noise.png) !important;
  a
    color: $white !important
    text-shadow: none !important
body
  position: relative;
  background: $blue !important//url(/images/noise.png) !important;
  .header ul, .header li, .section li, .header p, .header ol, .section p, .section ul, .section ol, .section cite
    font: 16px Georgia;//"Lucida Grande", Helvetica, Arial, sans-serif
    line-height: 26px
    color: $font-color
    a
      color: #32747f
  #content
    background: inherit
    //padding: 0px 10px
a.brand
  margin-left: 0 !important
  padding-right: 20px !important
  float: left !important

.dropdown-menu a
  color: #32373A !important
.forkme
  display: none
.subnav
  display: none
pre
  background: $pre-color !important// url(/images/noise.png) !important;
  border: 1px solid hsl(0, 0%, 98%) !important;
  border-top: 1px solid hsl(0, 0%, 100%) !important;
  box-shadow: inset 0 1px 1px 1px hsl(0,0%,88%), inset 0 1px 20px 1px hsla(0,0%,88%,.3) ;
  border-radius: 0px;
  margin-left: -10px
  padding-left: 10px !important
  margin-left: -10px
  padding-left: 10px !important
  //opacity: 0.9
pre code, code
  font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Courier, monospace;
  font-size: 12px
  color: $code-color !important
pre, p
  margin-bottom: 18px
  margin-top: 18px
code
  color: $red !important//#48484C
  //background: $pre-color
  border: none
  //padding: 5px
  padding: 0 0 0 0
pre code
  color: hsl(240, 3%, 29%)
  line-height: 22px
pre
  display: block !important
  code
    display: block !important
    width: auto !important
  white-space: pre  
  overflow-x: auto !important
header
  //background: $bright-blue
  h1
    color: hsl(0, 0, 50%) !important//hsl(0, 0%, 55%)
    text-align: center
    text-shadow:  0 1px 0 hsl(0, 0%, 100%);
    
h1, h2, h3, h4
  line-height: 1.2
  background: transparent
  //font-family: 'Josefin Sans', sans-serif; // ok
  //font-family: 'Krona One', sans-serif;
  font-family: $header-font;
  margin-bottom: 15px;
  padding-bottom: 0px;
  margin-top: 30px;
  padding-bottom: 5px//$baseLineHeight - 1
  margin: $baseLineHeight 0
  font-weight: 700
  code
    //font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
    font-family: $header-font;
  
.section
  h1
    border-top: 5px solid #e6e6e6
    padding-top: 15px
    margin-top: 0
    color: hsl(0, 0, 40%) !important//hsl(0, 0%, 55%)
    text-shadow:  0 1px 0 hsl(0, 0%, 100%);
    code
      text-shadow:  0 1px 0 hsl(0, 0%, 100%);
      
  h1, h2
    border-bottom: 1px solid $grayLighter

h1 code
  padding: 1em 0 .5em
  margin-top: 2em
  font-size: 36px
  color: hsl(0, 0, 75%) !important//hsl(0, 0%, 55%)
  text-shadow:  none;
  font-weight: normal
  background: none !important
  
h2 code
  font-weight: normal
  font-size: 18px
  background: none !important

h3 code
  font-weight: normal
  font-size: 16px

h2
  border-top: 1px dotted hsl(0, 0%, 75%)
  padding: 1em 0 .5em
  margin-top: 2em
  font-size: 24px
  color: hsl(0, 0%, 65%)
  text-shadow:  0 1px 0 hsl(0, 0%, 100%);
  font-weight: normal
  //background: white
  //opacity: 0.9
  //margin-left: -50px;
  //padding-left: 10px
  //width: 20px
h3
  font-size: 18px
#footer
  background: $green url(/images/noise.png);
  color: $white
  a
    color: #EC3D2F
/*
a
  color: #EC3D2F

#navigation
  display: block
  position: relative;
  margin: 0 auto
  width: auto
  max-width: 850px
  .header
    display: none
  li
    margin: 0 0 0 21px !important
  a
    color: white
#header
  display: block
  position: relative;
  margin: 0 auto
  width: auto
  max-width: 810px
  padding: 60px 20px 20px 20px
  h1
    text-align: left
  h1, h2, h3, h4
    color: white
  .forkme
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0
    opacity: 0.9
    img
      width: 149px;
      height: 149px
#footer  
  min-height: 100px
  background: $green url(/images/noise.png);
  position: relative;
  bottom: 0px;
#body
  position: relative;
  h1
    background: $red;
    padding-top: 10px
    margin-bottom: 10px
    margin-top: 0px
    margin-left: -40px
    margin-right: -40px
    color: white
    font-size: 40px
  #background
    position: absolute
    opacity: 90
    top: 0px
    right: 0px
    bottom: 0px
    left: 0px
  //background: #222;
  //background: $white url(/images/noise.png);
  color: #111
  margin: 0 auto;
  width: auto
  max-width: 920px
  clearfix()
  #content
    padding: 20px
    background: white
    position: relative
    float: left
    width: 610px
    margin-left: 20px
    z-index: 1
  
  #sidebar
    width: 920px
    left: 50%
    margin-left: -460px
    display: block
    z-index: 0
    position: fixed
    right: 0
    > ul
      list-style-type: none
      width: 270px
      float: right
      margin: 0px 0px 0px 0px
      ul
        display: none
    li
      background: $red
      opacity: 90
      color: white
      padding: 2px 8px 2px 40px
      margin: 0px 0px 0px 0px
      a, a:hover
        color: white
    
@media screen and (max-width: 810px)
  .forkme
    display: none
*/    
@media screen and (max-width: 480px)
  body
    .header ul, .header li, .section li, .header p, .header ol, .section p, .section ul, .section ol, .section cite
      font-size: 13px
      line-height: auto
  pre code
    font-size: 10px;
    line-height: auto
  content
    margin-left: 0px
    
h1, h2, h3, h4
  -webkit-font-smoothing: antialiased
    
p, li
  font-size: 16px !important
  line-height: 1.5 !important
  // remove the next 3 lines to convert back to normal font
  line-height: 1.4 !important
  font-family: 'Forum', cursive !important;
  font-size: 17px !important

pre
  white-space: pre !important
  overflow-x: auto !important
  .str, .atv
    color: hsl(4, 68%, 58%)

  .kwd
    color: $code-color;//hsl(240, 3%, 29%)
  //
  .com
    color: hsl(0, 0, 70%)//hsl(180, 7%, 60%)
  //
  .typ, .atn
    color: hsl(186, 44%, 40%)
    //color: hsl(189, 44%, 35%)
  //
  .lit
    color: hsl(100, 30%, 40%)
  //// 7d9338
  //.pun
  //  color: hsl(75, 45%, 40%)
  //
  //.pln
  //  color: #445588
