h2 {
  line-height: 1;
  margin-top: 1px;
}
#subtitle {
  text-align: center;
  padding: 8px 0px 0px 0px;
  margin-top: 0px !important;
  text-transform: none;
}
body {
  overflow-y: scroll;
}
body {
  overflow: visible;
}
#body {
  width: 100%;
  min-height: 100%;
  include: clearfix;
}
#body .frame {
  margin-bottom: 55px;
}
#body h2 {
  include: rich-border;
}
#body p {
  font-weight: normal;
}
#body ol,
#body ul,
#body li {
  width: auto;
}
#body dl {
  include: clearfix;
}
#body dl dt {
  clear: both;
  float: left;
  width: 75px;
}
#body dl dd {
  float: left;
  margin-left: 5px;
}
#body #content {
  include: clearfix;
  width: 100%;
}
#body #content a,
#body #content p,
#body #content li {
  clear: none !important;
  white-space: pre-wrap;
/* css-3 */
  white-space: -moz-pre-wrap;
/* Mozilla, since 1999 */
  white-space: -pre-wrap;
/* Opera 4-6 */
  white-space: -o-pre-wrap;
/* Opera 7 */
  word-wrap: break-word;
/* Internet Explorer 5.5+ */
}
#body #content .forks {
  position: relative;
  left: 5px;
}
#body #content.networks {
  margin: 21px 0px 0px 0px;
}
#body .articles {
  margin: 21px 0px 0px 0px;
}
#body .articles ol,
#body .articles ul,
#body .articles li {
  list-style-type: none;
  margin: 0px 0px 0px 0px;
}
#body .articles li.item {
  padding: 34px 0px 21px 0px;
  include: rich-border;
}
#body .articles li.item .title {
  padding: 0px 0px 13px 0px;
}
#body .articles li.item .title a,
#body .articles li.item .title a:hover {
  include: title-font;
}
#body .articles .footer dt,
#body .articles .footer dd {
  text-transform: uppercase;
  font-family: $details-font !important;
  color: rgba(56,56,56,0.70);
  text-shadow: rgba(255,255,255,0.80) 0 1px 0;
  float: left;
}
#body .articles .footer ul,
#body .articles .footer ol {
  width: 800px;
}
#body .articles .footer ul li,
#body .articles .footer ol li {
  float: left;
  display: block;
  line-height: 1 !important;
  margin-right: 5px;
  margin-bottom: 5px;
}
#body .articles .footer ul li.first-row-item,
#body .articles .footer ol li.first-row-item {
  clear: both;
}
#body .articles .footer ul li a,
#body .articles .footer ol li a,
#body .articles .footer ul li a:hover,
#body .articles .footer ol li a:hover {
  text-decoration: none;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  font-family: $body-font;
}
#body .networks {
  list-style-type: none;
  margin: 0px 0px 0px 0px;
}
#body .network {
  include: rich-border;
  include: title-font;
  padding-top: 21px;
  font-size: 21px;
}
#body .network a {
  text-decoration: none;
}
#body .network span {
  display: block;
}
#body .network .service {
  text-transform: uppercase;
  font-family: $title-font;
  color: rgba(56,56,56,0.90);
}
#body .network .me {
  font-size: 13px;
}
#body .facebook-network {
  background: url("/images/social-icons/facebook.png") right 21px no-repeat;
}
#body .github-network {
  background: url("/images/social-icons/github.png") right 21px no-repeat;
}
#body .linkedin-network {
  background: url("/images/social-icons/linkedIn.png") right 21px no-repeat;
}
#body .twitter-network {
  background: url("/images/social-icons/twitter.png") right 21px no-repeat;
}
#body .google-network {
  background: url("/images/social-icons/google.png") right 21px no-repeat;
}
.demo {
  include: rich-border;
  padding-top: 21px;
  margin-top: 21px !important;
  margin-bottom: 13px;
  padding-bottom: 0px;
  line-height: 1;
  margin-top: 1px;
  include: clearfix;
  margin: 0 0 0 0;
  text-align: center;
}
.demo ul,
.demo ol {
  include: clearfix;
  margin: 0 0 0 0;
  text-align: center;
}
.demo li {
  display: inline-block;
  *display: inline;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.demo li .action {
  background: #c1b7a7;
  include: border-radius(3px);
  border: 1px solid #9e9689;
  text-shadow: #9e9689 -1px 1px 0;
  padding: 13px 0px;
  display: block;
  width: 144px;
  text-align: center;
  margin: 0 0 0 0;
  color: #fff;
  font-weight: normal;
  font-family: $title-font;
  text-transform: uppercase;
  font-size: 32px;
}
#projects-page #content {
  width: $frame-width;
}
#projects-page #content .item.project {
  float: left;
  width: 300px;
  margin-left: 20px;
}
#projects-page #content .item.project.first {
  clear: both !important;
  margin-left: 10px;
}
#projects-page #content .item.project .tags {
  width: 300px;
}
#projects-page #content .item.project .snapshot {
  display: block;
  margin-bottom: 13px;
}
#projects-page #content .item.project .snapshot img {
  display: block;
  width: 280px;
  height: 200px;
  -moz-box-shadow: 0px 0px 3px #9e9689;
  -webkit-box-shadow: 0px 0px 5px #9e9689;
  box-shadow: 0px 0px 3px #9e9689;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
#projects-page #content .item.project .snapshot:hover img {
  -moz-box-shadow: 0px 0px 5px #9e9689;
  -webkit-box-shadow: 0px 0px 7px #9e9689;
  box-shadow: 0px 0px 5px #9e9689;
}
#disqus_thread {
  clear: both;
}
.gallery {
  margin-left: 0px !important;
  include: clearfix;
}
.gallery li {
  list-style-type: none;
  width: 176px !important;
  max-height: 176px;
  overflow: hidden;
  display: inline-block;
  float: left;
  margin-right: 20px;
}
.gallery li:last-child {
  margin-right: 0px;
}
