#paginator {
  display: block;
  include: clearfix;
  padding-top: 21px;
  include: rich-border;
  display: none;
}
#paginator li {
  list-style-type: none;
}
#paginator li a {
  font-size: 20px;
  color: $grey-2;
}
#paginator #prev {
  float: left;
}
#paginator #next {
  float: right;
}
#footer {
  height: 55px;
  background: $black-1;
  include: clearfix;
  clear: both;
  position: relative;
}
#footer .frame {
  top: 10px;
  position: relative;
  padding: 0px 0px 0px 0px;
}
#footer cite {
  top: 13px;
  display: block;
  float: left;
  position: relative;
}
#footer .networks {
  display: inline;
  position: relative;
  float: right;
  list-style-type: none;
  include: clearfix;
  text-align: right;
  margin: 0px;
  padding: 0px;
  float: right;
}
#footer .networks li {
  display: inline-block;
  margin: 1px 0px -11px 10px;
  width: 31px;
  height: 31px;
}
#footer .networks li a {
  display: block;
  width: 20px;
  height: 20px;
}
#footer .facebook-network {
  background: url("/images/social-icons/small/facebook.png") 0 0 no-repeat;
}
#footer .github-network {
  background: url("/images/social-icons/small/github.png") 0 0 no-repeat;
}
#footer .linkedin-network {
  background: url("/images/social-icons/small/linkedIn.png") 0 0 no-repeat;
}
#footer .twitter-network {
  background: url("/images/social-icons/small/twitter.png") 0 0 no-repeat;
}
#footer .google-network {
  background: url("/images/social-icons/small/google.png") 0 0 no-repeat;
}
