form {
  position: relative;
}
form .legend {
  include: rich-border;
  width: $frame-width;
  padding: 10px 0px 26px 0px;
  font-size: 24px;
  font-family: Helvetica;
  font-weight: bold;
  margin-bottom: 20px;
}
form .legend span {
  display: inline-block;
}
form .fieldset {
  margin-bottom: 20px;
  width: $frame-width;
  position: relative;
}
form .field-list,
form .value-list {
  position: relative;
  width: $frame-width;
  include: clearfix;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
form .value,
form .values {
  list-style-type: none;
}
form .value {
  margin-left: 190px;
  padding: 0px 10px;
}
form .value span {
  display: inline-block;
  width: 280px;
}
form .field {
  position: relative;
  include: clearfix;
  list-style-type: none;
}
form .field .label {
  display: inline-block;
  text-align: left;
  margin-left: 10px;
  float: right;
  padding: 6px 0px;
  width: 670px;
}
form .field .input {
  float: left;
  width: 260px;
  margin: 0px 0px 0px 0px;
  border: 1px solid $tan-1;
  font-size: 14px;
  padding: 6px 9px;
}
form .field .text {
  height: 100px;
  resize: none;
}
