#navigation {
  height: 55px;
  include: clearfix;
  z-index: 10;
  position: relative;
}
#navigation .frame {
  padding: 0px;
  position: relative;
}
#navigation a,
#navigation a:hover,
#navigation span {
  text-decoration: none;
  color: $red-1;
  font-size: 13px;
  font-style: normal;
  font-weight: normal;
  font-family: $body-font;
}
#navigation #logo {
  margin: 8px 0px 6px 0px;
  float: left;
  display: block;
  line-height: 1.5em;
  position: relative;
}
#navigation #logo a {
  display: block;
  float: left;
  color: $tan-1;
  font-family: $title-font;
  font-size: 24px;
  margin-top: 12px;
}
#navigation #logo .gravatar {
  margin-right: 10px;
  border: 2px solid $tan-1;
  display: block;
  float: left;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 35px;
  height: 35px;
}
#navigation ul {
  position: relative;
  list-style: none;
  include: clearfix;
  text-align: right;
  margin: 0px;
  padding: 0px;
  float: right;
}
#navigation ul li {
  float: left;
  display: block;
  margin: 8px 0px 6px 20px;
  font-size: 21px;
}
#header {
  margin-top: 55px;
  position: relative;
}
#header .frame {
  position: relative;
  padding: 34px 0px 0px 0px;
  text-align: center;
}
#header h3 {
  text-align: center;
  margin-top: 0px;
}
#header time {
  display: block;
  padding-top: 5px;
}
#header a {
  color: rgba(56,56,56,0.90);
  text-decoration: none;
}
#header cite {
  display: block;
  padding: 5px 0px;
}
#header cite a {
  text-decoration: none;
  color: inherit;
}
#header address {
  font-style: normal;
}
#header mark,
#header mark span {
  display: block;
  padding: 5px 0px;
  font-size: 10px;
  font-family: $body-font;
  background: inherit;
  text-shadow: none;
  font-style: normal;
  text-transform: none;
  color: $grey-2;
}
#header mark a,
#header mark span a {
  text-decoration: none;
  color: inherit;
}
#header .flash-error {
  background: rgba(223,64,53,0.30);
  padding: 13px 21px;
  border: 1px solid $red-1;
  font-size: 13px;
  text-align: center;
  position: absolute;
  left: 89px;
  right: 89px;
  top: -13px;
}
#table-of-contents {
  margin-top: 21px;
  include: rich-border;
  position: relative;
}
#table-of-contents a {
  position: relative;
  color: #a4423d;
  text-decoration: none;
}
#table-of-contents a:hover {
  color: rgba(164,66,61,0.70);
}
#table-of-contents li,
#table-of-contents a {
  font-size: 12px;
}
#table-of-contents .chapters {
  margin-top: 21px;
  margin-bottom: 0px;
}
