// @import '/lib/stylesheets/variables'
// @import '/lib/stylesheets/mixins'
// @import '/lib/stylesheets/typography'
// @import '/lib/stylesheets/code'
// @import "/app/client/stylesheets/application/_base"
// @import "/app/client/stylesheets/application/_header"
// @import "/app/client/stylesheets/application/_forms"
// @import "/app/client/stylesheets/application/_tables"
// @import "/app/client/stylesheets/application/_body"
// @import "/app/client/stylesheets/application/_sidebar"
// @import "/app/client/stylesheets/application/_footer"

$green  = #8BA341
$blue   = #79C5CE //#92CBD3
$white  = #eaecea

a
  color: #EC3D2F

body
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif
  font-family: 'Forum', cursive;
  background: $white
  background: $blue url(/images/noise.png);
  position: relative;
h1, h2, h3, h4
  font-family: 'Josefin Sans', sans-serif; // ok
  //font-family: 'Maven Pro', sans-serif;
  //font-family: 'Expletus Sans', cursive;
  //font-family: 'Quattrocento Sans', sans-serif;
h2
  font-size: 24px
  //background: white
  //opacity: 0.9
  //margin-left: -50px;
  //padding-left: 10px
  //width: 20px
h3
  font-size: 18px
#navigation
  display: block
  position: relative;
  margin: 0 auto
  width: auto
  max-width: 650px
  li
    margin: 0 0 0 21px !important
  a
    color: white
#header
  display: block
  position: relative;
  margin: 0 auto
  width: auto
  max-width: 610px
  padding: 60px 20px 20px 20px
  h1
    text-align: left
  h1, h2, h3, h4
    color: white
  .forkme
    position: absolute; 
    top: 0; 
    right: 0; 
    border: 0
    opacity: 0.9
    img
      width: 149px;
      height: 149px
#footer  
  min-height: 100px
  background: $green url(/images/noise.png);
  position: relative;
  bottom: 0px;
#body
  position: relative;
  #background
    position: absolute
    background: white
    opacity: 90
    top: 0px
    right: 0px
    bottom: 0px
    left: 0px
  //background: #222;
  //background: $white url(/images/noise.png);
  color: #111
  margin: 0 auto;
  width: auto
  max-width: 610px
  padding: 20px
  #content
    position: relative
    
@media screen and (max-width: 610px)
  .forkme
    display: none
    
@media screen and (max-width: 480px)
  #navigation
    text-align: center
    position: relative;
    ul
      float: none
      margin: 0 auto
      display: inline-block;
      position: relative;
  #header
    padding: 0px 10px 10px 10px
    h1
      text-align: center
  #body
    width: auto
    max-width: 440px
    pre
      font-size: 10px;